---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/mockup-generator/printfiles/71?orientation=vertical
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"product_id":71,"available_placements":{"front":"Front
        print","back":"Back print","label_outside":"Outside label","label_inside":"Inside
        label","sleeve_left":"Left sleeve","sleeve_right":"Right sleeve"},"printfiles":[{"printfile_id":1,"width":1800,"height":2400,"dpi":150,"fill_mode":"fit","can_rotate":false},{"printfile_id":71,"width":450,"height":450,"dpi":150,"fill_mode":"fit","can_rotate":false},{"printfile_id":90,"width":450,"height":450,"dpi":150,"fill_mode":"fit","can_rotate":false},{"printfile_id":130,"width":600,"height":525,"dpi":150,"fill_mode":"fit","can_rotate":false}],"variant_printfiles":[{"variant_id":9575,"placements":{"front":1,"back":1,"label_outside":90,"label_inside":71,"sleeve_left":130,"sleeve_right":130}},{"variant_id":8923,"placements":{"front":1,"back":1,"label_outside":90,"label_inside":71,"sleeve_left":130,"sleeve_right":130}},{"variant_id":8924,"placements":{"front":1,"back":1,"label_outside":90,"label_inside":71,"sleeve_left":130,"sleeve_right":130}},{"variant_id":8925,"placements":{"front":1,"back":1,"label_outside":90,"label_inside":71,"sleeve_left":130,"sleeve_right":130}},{"variant_id":8926,"[...]
