---
http_interactions:
- request:
    method: delete
    uri: https://api.printful.com/store/products/254727851
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":[],"extra":[]}'
  recorded_at: Mon, 15 Nov 2021 13:56:21 GMT
recorded_with: VCR 6.0.0
