---
http_interactions:
- request:
    method: post
    uri: https://api.printful.com/store/products
    body:
      encoding: UTF-8
      string: '{"sync_product":{"external_id":"4235234213","name":"T-shirt","thumbnail":"http://your-domain.com/path/to/thumbnail.png","is_ignored":true},"sync_variants":[{"external_id":"12312414","variant_id":1,"retail_price":29.99,"is_ignored":true,"sku":"SKU1234","files":[{"type":"default","url":"https://i.pinimg.com/originals/eb/9e/3b/eb9e3b7dab09358e7cf13f188f64f9f4.png","options":[],"filename":"shirt1.png","visible":true}],"options":[]}]}'
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"id":254727851,"external_id":"4235234213","name":"T-shirt","variants":1,"synced":1,"thumbnail_url":"http://your-domain.com/path/to/thumbnail.png","is_ignored":true},"extra":[]}'
  recorded_at: Sun, 14 Nov 2021 06:04:21 GMT
recorded_with: VCR 6.0.0
