---
http_interactions:
- request:
    method: put
    uri: https://api.printful.com/store/products/254727851
    body:
      encoding: UTF-8
      string: '{"sync_product":{"name":"T-shirt-updated"}}'
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"id":254727851,"external_id":"4235234213","name":"T-shirt-updated","variants":1,"synced":1,"thumbnail_url":"http://your-domain.com/path/to/thumbnail.png","is_ignored":true},"extra":[]}'
  recorded_at: Sun, 14 Nov 2021 06:12:19 GMT
recorded_with: VCR 6.0.0
