---
http_interactions:
- request:
    method: post
    uri: https://api.printful.com/store/packing-slip
    body:
      encoding: UTF-8
      string: '{"email":"brantest@hotmail.com","phone":"+1-202-555-0152","message":"hello
        world"}'
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"packing_slip":{"email":"brantest@hotmail.com","phone":"+1-202-555-0152","message":"hello
        world"}},"extra":[]}'
  recorded_at: Sun, 07 Nov 2021 02:27:45 GMT
recorded_with: VCR 6.0.0
