---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/store
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"id":5334979,"name":"Dev pocket","type":"shopify","website":"http://dev-pocket.myshopify.com/","return_address":null,"billing_address":null,"currency":"USD","payment_card":null,"packing_slip":{"email":null,"phone":null,"message":null},"created":1602514040},"extra":[]}'
  recorded_at: Sat, 06 Nov 2021 14:04:55 GMT
recorded_with: VCR 6.0.0
