---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/sync/products?limit=100&offset=0&search=&status=synced
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":[{"id":205422259,"external_id":"5606589595670","name":"Crop
        Tee","variants":5,"synced":5,"thumbnail_url":"https://cdn.shopify.com/s/files/1/0455/8602/2422/products/mockup-b0ed1ccd_grande.jpg?v=1606885736","is_ignored":false},{"id":205422221,"external_id":"5606589202454","name":"Sublimation
        Cut & Sew Tank Top","variants":5,"synced":5,"thumbnail_url":"https://cdn.shopify.com/s/files/1/0455/8602/2422/products/mockup-0021f459_grande.jpg?v=1606885679","is_ignored":false},{"id":205422122,"external_id":"5606588383254","name":"Mug
        with Color Inside","variants":1,"synced":1,"thumbnail_url":"https://cdn.shopify.com/s/files/1/0455/8602/2422/products/mockup-c368a0e4_grande.jpg?v=1606885554","is_ignored":f[...]
