---
http_interactions:
- request:
    method: delete
    uri: https://api.printful.com/sync/products/205422259
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"sync_product":{"id":205422259,"external_id":"5606589595670","name":"Crop
        Tee","variants":5,"synced":0,"thumbnail_url":"https://cdn.shopify.com/s/files/1/0455/8602/2422/products/mockup-b0ed1ccd_grande.jpg?v=1606885736","is_ignored":false},"sync_variants":[{"id":2315318572,"external_id":"35654832619542","sync_product_id":205422259,"name":"Crop
        Tee - S","synced":false,"variant_id":null,"warehouse_product_variant_id":null,"retail_price":"28.00","sku":"9732204_10261","currency":"USD","product":null,"files":[],"options":[],"is_ignored":false},{"id":2315318573,"external_id":"35654832652310","sync_product_id":205422259,"name":"Crop
        Tee - M","synced":false,"variant_id":null,"warehouse_product_variant_id":null,"retail_price":"28.00","sku":"9732204_10262","currency":"USD","product":null,"files":[],"options":[],"is_ignored":false},{"id":2315318574,"external_id":"35654832685078","sync_product_id":205422259,"name":"Crop
        Tee - L","synced":false,"variant_id":null,"warehouse_product_variant_id":null,"retail_price":"28.00","sku":"9732204_10263","currency":"USD","product":null,"files":[],"options":[],"is_ignored":false},{"id":2315318575,"external_id":"35654832717846","sync_product_id":205422259,"name":"Crop
        Tee - XL","synced":false,"variant_id":null,"warehouse_product_variant_id":null,"retail_price":"28.00","sku":"9732204_10264","currency":"USD","product":null,"files":[],"options":[],"is_ignored":false},{"id":2315318576,"external_id":"35654832750614","sync_product_id":205422259,"name":"Crop
        Tee - 2XL","synced":false,"variant_id":null,"warehouse_product_variant_id":null,"retail_price":"29.50","sku":"9732204_10265","currency":"USD","product":null,"files":[],"options":[],"is_ignored":false}]},"extra":[]}'
  recorded_at: Mon, 08 Nov 2021 14:56:59 GMT
recorded_with: VCR 6.0.0
