---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/sync/variant/10261
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":404,"result":"Not Found","error":{"reason":"NotFound","message":"Not
        Found"}}'
  recorded_at: Mon, 08 Nov 2021 14:32:31 GMT
recorded_with: VCR 6.0.0
