---
http_interactions:
- request:
    method: post
    uri: https://api.printful.com/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://dev-pocket.testing.io","types":["package_shipped","package_returned"],"params":[]}'
    headers:
      Authorization:
      - Basic <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"url":"https://dev-pocket.testing.io","types":["package_shipped","package_returned"],"params":[]},"extra":[]}'
  recorded_at: Sun, 07 Nov 2021 08:21:26 GMT
recorded_with: VCR 6.0.0
