---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"url":null,"types":[],"params":[]},"extra":[]}'
  recorded_at: Sun, 07 Nov 2021 08:05:51 GMT
recorded_with: VCR 6.0.0
